<form
  [formGroup]="form"
  class="regCard"
>
  <mat-card>
    <mat-card-title class="loginLabel">Sign up</mat-card-title>

      <mat-card-content class="content">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="username"
            required
          />
          <mat-error *ngFor="let error of form.get('username')?.errors | errorsToArray">
            {{error | displayError}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            name="password"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input
            matInput
            formControlName="firstName"
            name="firstName"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            formControlName="lastName"
            name="lastName"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            name="email"
            required
          />
          <mat-error *ngFor="let error of form.get('email')?.errors | errorsToArray">
            {{error | displayError}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Phone</mat-label>
          <input
            matInput
            formControlName="phone"
            name="phone"
            required
          />
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions align="end">
        <a class="redirect" routerLink="/auth/login">Already registered?</a>
        <button
          mat-flat-button
          color="primary"
          [disabled]="!form.valid"
          (click)="handleFormSubmit(form.value)"
          routerLink="/"
        >
          Sign Up
        </button>
        <a mat-flat-button routerLink="/">Cancel</a>
      </mat-card-actions>
  </mat-card>
</form>
