<h1 mat-dialog-title>
  Add new Group
</h1>

<mat-error *ngIf="error">
  Oops!
</mat-error>

<mat-dialog-content class="content">
  <form #form="ngForm" class="form">
    <mat-form-field>
      <mat-label>name</mat-label>
      <input type="text" ngModel matInput name="name" required/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>description</mat-label>
      <input type="text" ngModel matInput name="description" required/>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [disabled]="!form.valid" (click)="handleSaveClick(form.value)">
    Save
  </button>
  <button mat-button mat-dialog-close="undefined">
    Cancel
  </button>
</mat-dialog-actions>

