<h1 mat-dialog-title>
  Add new Group
</h1>

<mat-error *ngIf="error">
  Oops!
</mat-error>

<mat-dialog-content class="content">
  <form #form="ngForm" class="form">
    <mat-form-field appearance="fill">
      <mat-label>name</mat-label>
      <input type="text" ngModel matInput name="name" required/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>amount</mat-label>
      <input type="number" ngModel matInput name="amount" required/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>category</mat-label>
      <mat-select ngModel name="categoryId" required>
        <mat-option value="1">{{Category.FOOD_AND_DRINK | category}}</mat-option>
        <mat-option value="2">{{Category.PURCHASES | category}}</mat-option>
        <mat-option value="3">{{Category.ACCOMMODATION | category}}</mat-option>
        <mat-option value="4">{{Category.PUBLIC_TRANSPORT | category}}</mat-option>
        <mat-option value="5">{{Category.PERSONAL_TRANSPORT | category}}</mat-option>
        <mat-option value="6">{{Category.ENTERTAINMENT | category}}</mat-option>
        <mat-option value="7">{{Category.COMMUNICATION_AND_INTERNET | category}}</mat-option>
        <mat-option value="8">{{Category.INVESTMENTS | category}}</mat-option>
        <mat-option value="9">{{Category.TAX | category}}</mat-option>
        <mat-option value="10">{{Category.FINES | category}}</mat-option>
        <mat-option value="11">{{Category.MONEY_TRANSFER | category}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [disabled]="!form.valid" (click)="handleSaveClick(form.value)">
    Save
  </button>
  <button mat-button mat-dialog-close="undefined">
    Cancel
  </button>
</mat-dialog-actions>

