<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    routerLink="overview"
    routerLinkActive
    #overviewActive="routerLinkActive"
    [active]="overviewActive.isActive"
  >
    Overview
  </a>
  <a
    mat-tab-link
    routerLink="transactions"
    routerLinkActive
    #transactionsActive="routerLinkActive"
    [active]="transactionsActive.isActive"
  >
    Transactions
  </a>
  <a
    mat-tab-link
    routerLink="members"
    routerLinkActive
    #membersActive="routerLinkActive"
    [active]="membersActive.isActive"
  >
    Members
  </a>
</nav>
<router-outlet></router-outlet>
