@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

html
  font-family: 'Roboto', sans-serif

.main-page-link

  &:hover,&:visited,&:active
    color: inherit

.logo
  font-size: 20px


app-user-menu
  margin-left: auto



