<h1 mat-dialog-title>
  Add new User
</h1>

<mat-error *ngIf="error">
  Oops! Something is wrong
</mat-error>


<mat-dialog-content class="content">
  <form [formGroup]="form" class="form">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input type="text" ngModel matInput formControlName="username"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="text" ngModel matInput formControlName="password"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select ngModel formControlName="role">
        <mat-option value="USER">User</mat-option>
        <mat-option value="ADMIN">Admin</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Firstname</mat-label>
      <input type="text" ngModel matInput formControlName="firstName"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Lastname</mat-label>
      <input type="text" matInput formControlName="lastName"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="text" ngModel matInput formControlName="email"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input type="text" ngModel matInput formControlName="phone"/>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [disabled]="!form.valid" (click)="handleSaveClick(form.value)">
    Save
  </button>
  <button mat-button mat-dialog-close="undefined">
    Cancel
  </button>
</mat-dialog-actions>

