<div class="authButtons">
  <ng-container
    *ngIf="user$ | async as user; else anonymousMenu"
  >
    <a
      mat-button
      routerLink="/profile"
      style="font-size: 15px; padding: 15px 15px"
    >
      {{ user.username }}
    </a>
    <button
      mat-icon-button
      [mat-menu-trigger-for]="menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        (click)="handleLogoutClick()"
        routerLink="/"
      >
        Log out
      </button>
    </mat-menu>
  </ng-container>

  <ng-template #anonymousMenu>
    <a
      mat-flat-button
      color="accent"
      routerLink="/auth/signup"
    >
      Sign Up
    </a>

    <a
      mat-flat-button
      color="accent"
      routerLink="/auth/login"
    >
      Log In
    </a>
  </ng-template>
</div>
