<h1 mat-dialog-title>
  Add new Group
</h1>



<mat-dialog-content class="content">
  <form [formGroup]="form" class="form">
    <mat-form-field>
      <mat-label>admin id</mat-label>
      <input type="number" ngModel matInput formControlName="groupAdminId"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>name</mat-label>
      <input type="text" ngModel matInput formControlName="groupName"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>description</mat-label>
      <input type="text" ngModel matInput formControlName="groupDescription"/>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [disabled]="!form.valid" (click)="handleSaveClick(form.value)">
    Save
  </button>
  <button mat-button mat-dialog-close="undefined">
    Cancel
  </button>
</mat-dialog-actions>

